@import "tailwindcss";

:root {
  color-scheme: dark;
  --light: #ffffff;
  --dark: #393e46;
  --accent-color: #6ce0d6;
}

body {
  color: light-dark(var(--dark), var(--light));
  background: light-dark(var(--light), var(--dark));
}

.brand-name {
  view-transition-name: --brand-name;
}

::view-transition-group(*) {
  animation-duration: 0.5s;
}

.github-readme h1 {
  @apply font-mono text-4xl font-medium;
}
.github-readme h1::before {
  content: "#";
  font-weight: 450;
  margin-right: 0.5rem;
  color: var(--accent-color);
}

.github-readme p {
  margin-top: 1lh;
}

.github-readme a {
  color: light-dark(hsl(240, 100%, 50%), hsl(240, 100%, 75%));
  text-decoration: underline;
}

.github-readme h2 {
  font-size: 1.625rem;
  font-weight: 700;
  border-bottom: 1px solid;
  margin-top: 0.5lh;
}
