@import "tailwindcss";

@theme {
  --color-accent: hsl(168, 51%, 29%);
  --color-accent-light: hsl(168, 51%, 54%);
  --font-besley: Besley, serif;
  --font-serif: "Source Serif 4", serif;
}

:root {
  color-scheme: light;
  --light: #ffffff;
  --dark: rgb(47, 50, 54);
}

body {
  color: light-dark(var(--dark), var(--light));
  background: light-dark(var(--light), var(--dark));
}

.brand-name {
  view-transition-name: --brand-name;
}

::view-transition-group(*) {
  animation-duration: 0.5s;
}

.github-readme h1 {
  @apply font-besley text-accent text-4xl font-extrabold;
}

.github-readme p {
  margin-top: 1lh;
}

.github-readme a {
  color: light-dark(hsl(240, 100%, 50%), hsl(240, 100%, 75%));
  text-decoration: underline;
}

.github-readme h2 {
  font-size: 1.625rem;
  font-weight: 700;
  border-bottom: 1px solid;
  margin-top: 0.5lh;
}
