@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
  --light: #ffffff;
  --dark: #171717;
}



body {
  color: light-dark(var(--dark), var(--light)) ;
  background: light-dark(var(--light), var(--dark));
}


.brand-name {
  view-transition-name: --brand-name;
}

::view-transition-group(*) {
  animation-duration: 0.5s;
}